<template>
  <div class="home">
    <b-form-input v-model="input"></b-form-input>
    {{input}}

    <my-message :your-name="input"></my-message>
  </div>
</template>

<script>
import MyMessage from '@/components/MyMessage.vue';

export default {
  name: 'Home',
  components: {
    MyMessage,
  },
  data() {
    return {
      input: '',
    };
  },
};
</script>
